<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="SteamPicturesJunctionLinks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<applicationSettings>
		<SteamPicturesJunctionLinks.Properties.Settings>
			<setting name="SteamPicturesSubFolder" serializeAs="String">
				<value>\userdata\22055574\760\remote</value>
			</setting>
			<setting name="ScreenshotSubfolder" serializeAs="String">
				<value>\screenshots</value>
			</setting>
			<setting name="SteamDatabaseURL" serializeAs="String">
				<value>http://store.steampowered.com/api/appdetails/?appids={0}</value>
			</setting>
			<setting name="SteamFolder" serializeAs="String">
				<value>E:\Spill\steam</value>
			</setting>
			<setting name="PicturesFolder" serializeAs="String">
				<value>E:\SkyDrive\Pictures\Spill</value>
			</setting>
		</SteamPicturesJunctionLinks.Properties.Settings>
	</applicationSettings>
</configuration>